*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}
body{
    background: linear-gradient(to right, rgb(255, 246, 83), rgb(123, 123, 255));

}
nav{
    width: inherit;
    background-color: rgb(10, 27, 14);
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
h1{ 
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 30px;
}
.game-container{
    width: 700px;
    height: 500px;
    border: 3px solid black;
    border-radius: 30px;
    margin: auto;
    padding: 0 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(3, 1fr);
}
.results{
    outline: none;
    grid-row: 5;
    grid-column: 1/ span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.gameButton{
    background-color: transparent;
    border: 1px solid black;
    text-align: center;
    font-size: 50px;
    cursor: cell;
}
.gameButton:hover{
    background-color: rgba(237, 250, 230,0.5);
}
label{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}
.player-1, .player-2{
    width: 80%;
    height: 40px;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    font-size: 20px;
}
span{
    font-size: 18px;
}
input::placeholder{
    font-weight: bold;
    text-align: center;
}
.start{
    outline: none;
    border: none;
    background-color: rgb(89, 235, 254);
    width: 80%;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    justify-self: center;
    align-self: center;
    margin-top: 40px;
    font-weight: 900;
    font-size: 20px;
}
.start:hover{
    background-color: rgb(152, 250, 255);
}
input{
    text-align: center;
}
.display{
    outline: none;
    border: none;
    background-color: transparent;
    width: 80%;
    height: 40px;
    border-radius: 30px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
    font-weight: medium;
}
.bl-0{
    border-left: 0;
}
.br-0{
    border-right: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
#screen{
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(22, end) forwards,  blink 1s infinite;
}
@keyframes typing {
    0% { width:0% }
    100% { width:100% }
  }
  @keyframes blink {
    0%,100% {
      border-right:2px solid transparent;
    }
    50% {
      border-right:1px solid transparent;
    }
  }

  
  @media only screen and (max-width: 480px) {
    body{
        width: 90%;

    }
    .game-container {
        max-width: 100%;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 5px;
    }

    .gameButton {
        font-size: 30px;
    }

    .display {
        font-size: 16px;
    }
}